body{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(34, 34, 34);
}
.corpo{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 640px;
    background-color: black;
    border-radius: 6px;

}
.corpo2{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 710px;
    background-color: black;
    display: none;
    border-radius: 6px;
    
}

h1,h2,p,span {
    color: white;
    font-size: large;
}

#ButtonIniciar{
    width: 100px;
    height: 30px;
    margin-left:450px;
    margin-top: 90px;

}
.grid {
	display: grid;
    background-color: rgb(63, 65, 65);
    margin: 0px;
    height: 40px;
    position: fixed;
}

/* 100px é o valor total, ignora conteúdo, margem e etc. Respeita apenas o min-width do item.*/
.grid-template-columns-1 {
	grid-template-columns: 100px 100px 100px 100px;

}
.tutorial ,span,h1,h2,p{
    text-align: center;
}

.porta1{
    background-color: rgba(14, 13, 15, 0.671);
    width: 140px;
    height: 400px;
    position: fixed;
    margin-left: 610px;
    margin-top: 160px;
    color: white;
}
#Porta1:hover{
    cursor:pointer;
   
}


.Livro1{
    background-color: rgba(0, 255, 255, 0);
    width: 100px;
    height: 90px;
    position: fixed;
    margin-left: 390px;
    margin-top: 370px;
}
#Livro1:hover{
    cursor:pointer;
   
}


.BlocoTexto{
    background-color: rgba(10, 72, 204, 0.603);
    border-radius: 20px;   
    margin-top: 190px;
    height: 130px;
    

}
#custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
    z-index: 999;
}

.botaoinvisivel{
    display: none;
    
}
.botao{  
    margin-left: 350px;
    margin-right: auto;
    visibility: visible;
    width: 350px;
    height: 40px;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    background-color: rgba(137, 43, 226, 0.534);
    animation: animacao-textos 0.6s ease-in-out forwards;
    
}
.botao:hover {
    cursor: pointer;
}
.opcoes{
    height: 10px;
}

.texto1 {
    opacity: 0;
    text-align: center;
    color: white;
    font-size: larger;
    animation: animacao-textos 1s ease-in-out forwards;
  }
  
  @keyframes animacao-textos {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1;
    }
    
  }

